html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header,footer{
   background-color: #2D2D53;
   margin: 0px;
   display: flex;
   align-items: center;
}   

a {
    text-decoration: none;
}

footer{
    margin-top: auto;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: #fff;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    margin: 25px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #2D2D53;
    font-size: 20px;
    text-align: center;
}

.boutton{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boutton2{
    background-color: #2D2D53;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 42%;
    margin-left: 42%;
}

.footer-content{
    color: #fff;
    text-decoration: underline;
    margin: 25px;
}

.texte-blanc{
    color: #fff;
    text-align: center;
}

#texte-description{
    font-size: 35px;
    margin-left: 20%;
    margin-right: 20%;
}

#eco-texte{
    background-image: url("Images/Bloc-Texte.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    height: 316px;
    width: 1292px;
}

.contact-info{
    background-color: #2D2D53;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 15px;
}

h2{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}

#container-contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

#container-notremission{
    background-color: #2D2D53;
}

.default-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-fondatrice{
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.formulaire{
    width: 500px;
    margin: auto;
    padding-bottom: 450px;
    border: 1px solid #2D2D53;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header-formulaire{
    padding: 20px;
    background-color: #2D2D53;
    border-radius:10px 10px 0 0;
}

.input-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.input-texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-texte2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.titre-input{
    margin-bottom: 2px;
    font-size: 25px;
    margin-top: 0px;
}

input{
    width: 400px;
    height: 20px;
}

.oeil-style{
    height: 25px;
    margin-left: 10px;
}

.icone{
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

button{
    border-radius: 10px;
    border-width: 3px;
    border-color: #2D2D53;
    color: #2D2D53;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#boutton-connexion{
    margin-top: 10px;
}