body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header,footer{
   background-color: #2D2D53;
   margin: 0px;
   display: flex;
   align-items: center;
}   

h3{
    color: #fff;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    margin: 25px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #2D2D53;
    font-size: 20px;
}

.boutton{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: 25px;
}

.boutton2{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: #2D2D53;
    border-radius: 25px;
}

.footer-content{
    color: #fff;
}