html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header,footer{
   background-color: #2D2D53;
   margin: 0px;
   display: flex;
   align-items: center;
}   

a {
    text-decoration: none;
}

footer{
    margin-top: auto;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: #fff;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    margin: 25px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #2D2D53;
    font-size: 20px;
    text-align: center;
}

.boutton{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boutton2{
    background-color: #2D2D53;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 42%;
    margin-left: 42%;
}

.footer-content{
    color: #fff;
    text-decoration: underline;
    margin: 25px;
}

.texte-blanc{
    color: #fff;
    text-align: center;
}

#texte-description{
    font-size: 35px;
    margin-left: 20%;
    margin-right: 20%;
}

#eco-texte{
    background-image: url("Images/Bloc-Texte.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    height: 316px;
    width: 1292px;
}