body{
    margin: 0px;
}

header{
   background-color: #2D2D53;
   margin: 0px;
   display: flex;
   align-items: center;
}   

h1{
    color: #fff;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    margin: 25px;
}